
.introduceGame {
    margin: 15px;
}

.introduceGame p img {
    width: 100% !important;
    margin-top: 10px;
}

.mainGame .remark {
    margin: 33px 18px 20px 21px;
}

.introduceGame h2, .introduceGame p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
}