
.container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #161718;
    opacity: 0.5;
}

.top-race {
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}

.img-logo {
    height: 104px;
    width: 80px;
    margin: 20px 14px 14px 19px;
    background-color: red;
}

.race-info {
    display: flex;
    flex-direction: column;
    margin: 20px 14px 14px 0;
    flex: 1;
}

.title {
    font-family: PingFangSC-Medium;
    font-size: 17px;
    color: #333333;

}
