.App {
    text-align: center;
}

.App-header {
    overflow: hidden;
    zoom: 1;
    /*修改间隔*/
    height:70px;
    background-color: #fff;
    position: relative;
}
.App-header:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 100%;
    height: 0;
    transform: scale(0.91);
    transform-origin: left bottom;
    border: 1px solid #EEEEEE;
}
.App-header h2{
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #444444;
    /*padding: 0 15%;*/
    margin: 9px 0 4px 0;
    /*height: 24px;*/
    text-align: left !important;
    line-height: 24px;
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;
    white-space: nowrap;*/
}
.App-header span{
    float: left;
    display: inline-block;
    margin-right: 10px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #AAAAAA;
    height: 17px;
    line-height: 17px;
}
.App-header .App-header-time{
    margin-right: 10px;
}

.App-nav {
    padding:4.5%;
    margin-top: 5px;
}
/*markdown里的样式*/

.App div p{
    margin: 0;
    margin-bottom: 22px;
    /*text-indent: 24px;*/
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #444444;
}
.App div p img{
    display: inline-block;
    width: 100%;
    height: 100%;
    /*height: 207px;*/
}

footer a{
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 42px;
    line-height: 42px;
    /*text-align: center;*/
    width: 70%;
    padding-left: 30%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #D1BC91;
    background: #161718;
    opacity: 0.9;
    background-image: url('../assets/images/load-logo.png');
    background-repeat: no-repeat;
    background-position: 36px center;
    background-size: 28px 28px;
    text-decoration: none;
}
footer a span{
    float: right;
    width: 58px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    margin: 10px 20px 0 0;
    border: 1px solid #D1BC91;
    color: #D1BC91;
    border-radius: 2px;
}
