.player {
    margin: 0;
    padding: 0;

}

.player-head {
    height: 200px;
    background: url('../assets/images/background.png') no-repeat center;
    background-size: 100% 100%;
}

.player-head-top h2 {
    text-align: center;
    color: #FFE9AD !important;
    font-size: 18px;
    font-family: PingFangSC-Light;
    line-height: 25px;
    margin-top: 0px;
    padding-top: 10px;
}

.player-head .personImg {
    float: left;
    width: 74px;
    height: 74px;
    border:none;
    border-radius: 36.5px;
    margin-left: 25px;

}
/*图片没有时外边框隐藏*/
.personImgHidden{
    opacity: 0;

}

.player-head .personName {
    overflow: hidden;
    zoom: 1;
    display: block;
    width: 200px;
    color: #FFFFFF !important;
    font-size: 15px;
    font-family: PingFangSC-Medium;
    line-height: 21px;
    margin-bottom: -8px;
    margin-left: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.player-head .country {
    overflow: hidden;
    zoom: 1;
    display: block;
    color: #AAAAAA !important;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    line-height: 20px;
    margin-left: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-head-nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;

}

.nav-rank, .nav-score, .nav-prize {
    flex: 1;
    text-align: center;
    box-sizing: border-box;

}

.nav-rank span:nth-child(1) {
    display:block;
    font-size: 17px;
    color: #CCC;

}

.nav-rank span:nth-child(2) {
    font-size: 12px;
    color: #888;
    background-color: #292929;
    border-radius: 18px;
    padding:1px 10px 1px 10px;
}

.nav-score span:nth-child(1) {
    display:block;
    font-size: 17px;
    color: #CCC;

}

.nav-score span:nth-child(2) {
    font-size: 12px;
    color: #888;
    background-color: #292929;
    border-radius: 18px;
    padding:1px 10px 1px 10px;
}

.nav-prize span:nth-child(1) {
    display:block;
    font-size: 17px;
    color: #CCC;

}

.nav-prize span:nth-child(2) {
    font-size: 12px;
    color: #888;
    background-color: #292929;
    border-radius: 18px;
    padding:1px 10px 1px 10px;
}

player-body {
    width: 100%;
}

table {
    width: 100%;
    height: 170px;
    margin-top: 10px;
}


table tbody tr {
    background-color: #fff;
}

table tbody tr td a {
    text-decoration: none;
}

/*table*/
.table-header {
    overflow: hidden;
    zoom: 1;
    width: 89%;
    height: 40px;
    margin-left: 15px;
}

.table-header span:nth-child(1) {
    font-size: 17px;
    color: #333;
    line-height: 24px;
    float: left;
}

.table-header span:nth-child(2) {
    float: right;
    width: 58px;
    height: 24px;
    background: #F34A4A;
    border-radius: 32px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
}

.table-detail {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #ECECEE;
    /*width: 89%;*/
    justify-content: space-between;
}

.table-detail div {
    flex: 1;
}

.table-detail div span {
    display: block;
    text-align: center;
    height: 24px;
}

.table-detail div span:nth-child(1) {
    font-size: 12px;
    color: #AAA;
}

.table-detail div span:nth-child(2) {
    font-size: 15px;
    color: #888;
}

.table-time {
    height: 20px;
    margin-top: 11px;
    margin-left: 15px;
    background: url('../assets/images/home_clock.png') no-repeat left center;
    background-size: 10px 10px;
    padding-left: 18px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}

.table-location {
    height: 20px;
    background: url('../assets/images/home_adr.png') no-repeat left center;
    background-size: 8px 11px;
    padding-left: 18px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    margin-left: 15px;
}

