.player{
    margin:0;
    padding:0;

}
.player-head{
    height:200px;
    background: url('../assets/images/background.png') no-repeat center;
    background-size: 100% 100%;
    padding: 32px 0 0 20px;
}

.player-head-top h2{
    text-align: center;
    color:#FFE9AD !important;
    font-size: 18px;
    font-family: PingFangSC-Light;
    line-height: 25px;
    margin-top:5px;
}
.player-head .personImg{
    float: left;
    width:74px;
    height:74px;
    border-radius: 36.5px;
}
.player-head .personName{
    overflow: hidden;
    zoom:1;
    display: block;
    width:200px;
    color:#FFFFFF  !important;
    font-size: 15px;
    font-family: PingFangSC-Medium;
    line-height: 21px;
    margin-bottom: -8px;
    margin-left:90px;
    text-overflow:ellipsis;
    white-space: nowrap;

}
.player-head .country{
    overflow: hidden;
    zoom:1;
    display: block;
    color:#AAAAAA  !important;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    line-height: 20px;
    margin-left:90px;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.player-head-nav{
    display: flex;
    margin-top: 30px;

}
.nav-rank,.nav-score,.nav-prize{
    flex: 1;
    padding-left: 18px;
    text-align: center;
}
.nav-rank span:nth-child(1){
    display: block;
    font-size:17px;
    color:#CCC;
    height: 24px;
    width:50px;
    margin-bottom: 8px;
}
.nav-rank span:nth-child(2){
    display: block;
    font-size:12px;
    color:#888;
    background-color: #292929;
    /*opacity: 0.08;*/
    height: 21px;
    width: 50px;
    border-radius: 18px;
    text-align: center;
    line-height: 21px;

}
.nav-score span:nth-child(1){
    display: block;
    font-size:17px;
    color:#CCC;
    height: 24px;
    width: 50px;
    margin-bottom: 8px;

}
.nav-score span:nth-child(2){
    display: block;
    font-size:12px;
    color:#888;
    background-color: #292929;
    /*opacity: 0.08;*/
    height: 21px;
    width: 50px;
    border-radius: 18px;
    text-align: center;
    line-height: 21px;
}
.nav-prize span:nth-child(1){
    display: block;
    font-size:17px;
    color:#CCC;
    height: 24px;
    width: 50px;
    margin-bottom: 8px;
}
.nav-prize span:nth-child(2){
    display: block;
    font-size:12px;
    color:#888;
    background-color: #292929;
    /*opacity: 0.08;*/
    height: 21px;
    width: 50px;
    border-radius: 18px;
    text-align: center;
    line-height: 21px;
}
player-body table{
    width:100%;
}
table tbody tr{
    background-color:#fff;
}
table tbody tr td{
    padding:12px 18px 19px 19px;
}
table tbody tr td a{
    text-decoration: none;
}
/*table*/
.table-header{
    overflow: hidden;
    zoom: 1;
}
.table-header span:nth-child(1){
    font-size: 17px;
    color: #333;
    line-height: 24px;
    float:left;
}
.table-header span:nth-child(2){
    float: right;
    width: 58px;
    height: 23px;
    background: #F34A4A;
    border-radius: 32px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 23px;
}
.table-detail{
    display: flex;
    padding-bottom: 17px;
    border-bottom: 1px solid #ECECEE;
}
.table-detail div{
    flex: 1;
}
.table-detail div span{
    display: block;
    text-align: center;
}
.table-detail div span:nth-child(1){
    font-size: 12px;
    color: #AAA;
}
.table-detail div span:nth-child(2){
    font-size: 15px;
    color: #888;
}
.table-time{
    margin-top: 11px;
    background: url('../assets/images/home_clock.png') no-repeat left center;
    background-size: 10px 10px;
    padding-left: 18px;
    color: #666;
    font-size: 13px;
}
.table-location{
    background: url('../assets/images/home_adr.png') no-repeat left center;
    background-size: 8px 11px;
    padding-left: 18px;
    color: #666;
    font-size: 13px;
}

