
.dark{
    height: 60px;
    width: 3px;
    background-color: #161718;
}

.info-content {
    min-height: 48px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blindStructure-info {
    display: flex;
    justify-content: space-around;

    border-bottom: 1px solid #EEEEEE;
    height: 48px;
    line-height: 48px;

}

.blindStructure-info div {
    flex: 1;
    text-align: center;

}

.blindStructure .blindStructure-nav {
    display: flex;
    justify-content: space-around;
    background-color: #AEBABB;
    color: #ffffff;
    height: 32px;
    margin-top: 20px;
    line-height: 32px;
}

.schedule .schedule-nav {
    display: flex;
    background-color: #AEBABB;
    height: 32px;
    margin-top: 20px;
}

.schedule-nav div{
    color: #ffffff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.schedule-info{
    display: flex;
    height: 48px;
    justify-content: space-around;

}

.schedule-info span{
    font-size: 14px;
    color: #666666;
    line-height: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.schedule-info:nth-child(2n){
    background-color: #F5F5F5;
}
.schedule table thead {
    height: 32px;
    margin-top: 20px;
}

.schedule table thead span {
    line-height: 32px;
}

.sidePrize {
    color: #DF1D0F;
    font-size: 14px;
}

.sideStart {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #AAAAAA;
    margin-top: 9px;
}

.sideTitle {
    font-family: PingFangHK-Regular;
    font-size: 17px;
    color: #444444;
    line-height: 22px;
    margin-right: 17px;
}

.txtDay {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #666666;
}

.txtMonth {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #666666;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.sideTime {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 25%;

}

.sideView {
    display: flex;
    min-height: 100px;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;

}

.schedule table tbody tr {
    min-height: 48px;
    display: flex;
    background-color: #3f9fff;
}

.schedule table tbody tr td {
    flex:1;
    font-size: 14px;
    color: #666666;
    align-items: center;
    justify-content: center;
}


.infoView {
    flex-direction: column;
    align-content: center;
}

.infoView-nav {
    height: 40px;
    display: flex;
    border: 1px solid #161718;
    border-radius: 2px;
    align-self: center;
    margin-top: 20px;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #161718;
    color: #ffffff;

}

.clo_line {
    height: 40px;
    width: 1px;
    background-color: #161718;
}

.infoView {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu {
    display: flex;
    width:100%;
    justify-content: space-around;
    position:absolute;left:0;bottom:0;

}

.menu1 {
    /*display: flex;*/
    /*justify-content: space-around;*/

}

.txtMenu {
    font-size: 16px;
    color: #888888;
    display: block;
    height: 32px;
}

.imgMe {
    background: url('../assets/images/Triangle.png') no-repeat center bottom;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.mainNav {
    width: 100%;
    height: 220px;
    background: url('../assets/images/background.png') no-repeat;
    background-size: 100% 100%;
    position:relative;

}

.mainNav .ul-1 {
    overflow: hidden;
    zoom: 1;
}

.mainNav .ul-1 .title {
    /*float: left;*/
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainNav .ul-1 img {
    float: left;
    height: 104px;
    width: 80px;
    margin: 0 17px 0 16px;
}

.mainNav .ul-1 .ul-1-2 {
    float: left;
    padding-top: 10px;
}

.mainNav .ul-1 .ul-1-2 li {
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    color: #cccccc;
}

.mainNav .ul-1 .ul-1-2 li:nth-child(1) {
    padding-left: 25px;
    background: url("../assets/images/stopwatch-icon.png") no-repeat left center;
}

.mainNav .ul-1 .ul-1-2 li:nth-child(2) {
    padding-left: 25px;
    background: url("../assets/images/match_location.png") no-repeat left center;
}

.mainNav .ul-1 .ul-1-2 .li-4 span {
    height: 17px;
    line-height: 17px;
    text-align: center;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
}

.mainNav .ul-1 .ul-1-2 .li-4 span:nth-child(1) {
    margin-right: 9px;
}



.mainNav .ul-2 {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.mainNav .ul-2 li a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #cccccc !important;
}

.mainNav .ul-2 li a.active {
    background: url('../assets/images/Triangle.png') no-repeat center bottom;

}

.content {
    /*padding-top: 44px;*/
    overflow: hidden;
    width:100%;
    height:100%;
}

.introduceGame {
    margin: 15px;
}

.introduceGame p img {
    width: 100% !important;
}

.mainGame .remark {
    margin: 33px 18px 20px 21px;
}

.introduceGame h2, .introduceGame p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #888888;
}

.mainGame .remark h2 {
    line-height: 22px;
}

.mainGame .remark p {
    line-height: 20px;
    text-indent: 20px;
}

/*主赛信息*/
