.box {
    width:90%;
    margin-left: 17px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 30px;
}

.box .question {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.box:nth-child(1){
    margin-top: 18px;
}
.question div:nth-child(1){
    width:18px;
}
.question div:nth-child(2){
    /*margin-left: 30px;*/
    width:90%;
}

.box .question .image1{
    border: 1px solid #ECB655;
    color:#ECB655;
    border-radius: 3px;
    width:16px;
    height:16px;
    text-align: center;
    line-height: 16px;
}
.box .question .image2{
    border: 1px solid #444444;
    color:#444444;
    border-radius: 3px;
    width:16px;
    height:16px;
    /*padding-left: 10px;*/
    text-align: center;
    line-height: 16px;
}
.box .question .question1{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #EDB655;
}
.box .question .question2{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #444444;
    /*text-indent: 2em;*/
}
.questions .content{
    width:100%;
    height:100%;
    overflow:scroll;
    background-color: #ffffff;
    margin-bottom: 900px;
    margin-top: 40px;
}
.questions .question-nav{
    width:100%;
    height:48px;
    background: #AAAAAA;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
    position:fixed;
    /*margin-top: 181px;*/
}
.question-nav a:nth-child(1){
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #333333;
    height:21px;
    margin-left:20px;

}
.question-nav a:nth-child(2){
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #333333;
    height:21px;
    margin-right: 20px;
}

.questions{
    position: absolute;
    top:180px;
    height:100%;
    width: 100%;
    background-color: #ffffff;
    overflow: auto;

}
/*以上为常见问题样式*/

.sharePage{
    width:100%;
    height:100%;
    overflow: auto;
}
.sharePage-scroll{
    overflow:scroll !important;
}
.sharePage-unscroll {
    overflow:hidden !important;
    position:fixed;
}

.sharePage .sharePage-img img{
    width: 100%;
    vertical-align: middle;
}

.sharePage .sharePage-img img:nth-child(2){
    margin-top: -2px;
}

.sharePage-person{
    height:270px;
    display:flex;
    justify-content: space-around;

}
.sharePage .fixed{
    width:100%;
    height:60px;
    overflow: hidden;
    clear: both;
    zoom: 1;
    background-color: #000000;
}
footer{
    position:fixed !important;
    bottom: 0;
    width:100%;
}
.sharePage-btn{
    width:100%;
    height:60px;
    background-color:rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom:0;
}

.sharePage-btn .sharePage-btn-question{
    height: 30px;
    width:20%;
    line-height: 30px;
    border: 2px solid #D1BC91;
    border-radius: 5px;
    text-align: left;
    color: #D1BC91;
    background: url('../assets/images/questionMark.png') no-repeat left;
    background-size: 20px 20px;
    background-position-x: 5.5px;
    padding-left: 10%;
}

.sharePage-btn .android-app-download {
    height: 30px;
    width:48%;
    line-height: 30px;
    border: 2px solid #D1BC91;
    border-radius: 5px;
    text-align: center;
    background-color: #D1BC91;
    font-family: PingFangHK-Regular;
    color: #000000 !important;
}
/*触屏滑动*/
.sharePage-person{
    position: relative;
    overflow: auto;
    margin-top: 10px;
}
.scroll-box{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*padding: 8px;*/
    margin-left: 8px;
}
.box-item{
    display: inline-block;
    font-size: 14px;
    /*width: 270px;*/
    /*height: 378px;*/
    width: 189px;
    height: 264.6px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: 8px;
    -webkit-overflow-scrolling: auto;
    -webkit-overflow-scrolling: touch;
    /*-webkit-box-shadow: 1px 5px 7px rgba(6, 0, 1, .14);*/
    /*box-shadow: 1px 5px 7px rgba(6, 0, 1, .14);*/
}
.box-item:nth-child(1){
    margin-left: 0px;
}
.box-item img{
    width: 100%;
    height: 100%;
}
.name{
    margin-left: 10px;
    margin-top: 15px;
}
.name img{
    height:16.45px;

}
