.sharePage{
    margin:0;
    padding:0;
    width:100%;

}

.sharePage .sharePage-img img{
    width: 100%;
    vertical-align: middle;
}

.sharePage .sharePage-img img:nth-child(2){
    margin-top: -2px;
}

.sharePage-person{
    height:270px;
    display:flex;
    justify-content: space-around;

}
.fixed{
    width:100%;
    height:60px;
    overflow: hidden;
    clear: both;
    zoom: 1;
}
footer{
    position:fixed;
    bottom: 0;
    width:100%;


}
.sharePage-btn{
    width:100%;
    height:60px;
    background-color:rgba(0,0,0,0.8);
    /*background-color:#000000;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom:0;


}

.sharePage-btn .sharePage-btn-question {
    height: 30px;
    width:30%;
    line-height: 30px;
    border: 2px solid #D1BC91;
    border-radius: 5px;
    text-align: center;
    color: #D1BC91;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sharePage-btn .sharePage-btn-question .image{
    height: 20px;
    width:20px;
    background: url('../assets/images/questionMark.png') no-repeat  center;
    background-size: 20px 20px;
    margin-right: 10px;
}
.sharePage-btn .sharePage-btn-question .char{
    height: 20px;
    line-height: 20px;
    color: #D1BC91;
    text-align: center;
}
.sharePage-btn .android-app-download {
    height: 30px;
    width:35%;
    line-height: 30px;
    border: 2px solid #D1BC91;
    border-radius: 5px;
    text-align: center;
    background-color: #D1BC91;
    font-family: PingFangHK-Regular;
    color: #000000 !important;
}
/*触屏滑动*/
.sharePage-person{
    position: relative;

    overflow: auto;
    margin-top: 10px;
}
.scroll-box{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    padding: 8px;
}
.box-item{
    display: inline-block;
    font-size: 14px;
    /*width: 270px;*/
    /*height: 378px;*/
    width: 189px;
    height: 264.6px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: 8px;
    /*-webkit-box-shadow: 1px 5px 7px rgba(6, 0, 1, .14);*/
    /*box-shadow: 1px 5px 7px rgba(6, 0, 1, .14);*/
}
.box-item:nth-child(1){
    margin-left: 0px;
}
.box-item img{
    width: 100%;
    height: 100%;
}
.name{
    margin-left: 10px;
    margin-top: 15px;
}
.name img{
    height:16.45px;

}
