.line{
    height:3px;
    width:100%;
    margin-top: 8px;
    background-color: #F5F5F5;
}
.infoView {
    flex-direction: column;
    align-content: center;
}

.infoView-nav {
    height: 40px;
    display: flex;
    border: 1px solid #161718;
    border-radius: 2px;
    width: 345px;
    align-self: center;
    margin-top: 20px;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #161718;
    color: #ffffff;

}

.subInfo1{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    margin-top: 10px;
}

.subInfo1 span{
    font-size: 14px;
    color: #666666;
}

.location{
    font-size: 13px;
    color: #888888;
    margin-top: 3px;
}
.time{
    font-size: 13px;
    color: #888888;
    margin-top: 9px;
}
.title{
    font-size: 18px;
    color: #444444;
    margin-top: 20px;
}
.subInfo{
    display: flex;
    flex-direction: column;
    margin-left: 17px;

}

.sideRace {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    /*background: #F5F5F5;*/
}